@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer utilities {
	.tw-shadow-pop-br {
		-webkit-animation: tw-shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
			both;
		animation: tw-shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	}

	.tw-shadow-pop-br-out {
		-webkit-animation: tw-shadow-pop-br-out 0.3s
			cubic-bezier(0.47, 0, 0.745, 0.715) reverse forwards;
		animation: tw-shadow-pop-br-out 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
			reverse forwards;
	}

	.yt-shadow-pop-br {
		-webkit-animation: yt-shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
			both;
		animation: yt-shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	}

	.yt-shadow-pop-br-out {
		-webkit-animation: yt-shadow-pop-br-out 0.3s
			cubic-bezier(0.47, 0, 0.745, 0.715) reverse forwards;
		animation: yt-shadow-pop-br-out 0.3s cubic-bezier(0.47, 0, 0.745, 0.715)
			reverse forwards;
	}
}
/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes tw-shadow-pop-br {
	0% {
		-webkit-box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}
@keyframes tw-shadow-pop-br {
	0% {
		-webkit-box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}

/**
 * ----------------------------------------
 * animation shadow-pop-br-out
 * ----------------------------------------
 */
@-webkit-keyframes tw-shadow-pop-br-out {
	0% {
		-webkit-box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}

	100% {
		-webkit-box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}
@keyframes tw-shadow-pop-br-out {
	0% {
		-webkit-box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		box-shadow: 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af,
			0 0 #1e40af, 0 0 #1e40af, 0 0 #1e40af;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		box-shadow: 1px 1px #1e40af, 2px 2px #1e40af, 3px 3px #1e40af,
			4px 4px #1e40af, 5px 5px #1e40af, 6px 6px #1e40af, 7px 7px #1e40af,
			8px 8px #1e40af;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}

/**
	YOUTUBE
*/
/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes yt-shadow-pop-br {
	0% {
		-webkit-box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}
@keyframes yt-shadow-pop-br {
	0% {
		-webkit-box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}

/**
 * ----------------------------------------
 * animation shadow-pop-br-out
 * ----------------------------------------
 */
@-webkit-keyframes yt-shadow-pop-br-out {
	0% {
		-webkit-box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}

	100% {
		-webkit-box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}
@keyframes yt-shadow-pop-br-out {
	0% {
		-webkit-box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		box-shadow: 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626,
			0 0 #dc2626, 0 0 #dc2626, 0 0 #dc2626;
		-webkit-transform: translateX(0) translateY(0);
		transform: translateX(0) translateY(0);
	}
	100% {
		-webkit-box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		box-shadow: 1px 1px #dc2626, 2px 2px #dc2626, 3px 3px #dc2626,
			4px 4px #dc2626, 5px 5px #dc2626, 6px 6px #dc2626, 7px 7px #dc2626,
			8px 8px #dc2626;
		-webkit-transform: translateX(-8px) translateY(-8px);
		transform: translateX(-8px) translateY(-8px);
	}
}
